<h1>Cadastro de Imóvel</h1>

<% if @places.errors.any? then %>
  <% @places.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<%= form_with(model: Place.new) do |f| %>
  <div>
    <%= f.label :place_type_id, "Tipo" %>
    <%= f.collection_select :place_type_id, PlaceType.all, :id, :name %>
  </div>
  <div>
    <%= f.label :place_region_id, "Região" %>
    <%= f.collection_select :place_region_id, PlaceRegion.all, :id, :name %>
  </div>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :rooms %>
    <%= f.number_field :rooms %>
  </div>
  <div>
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms %>
  </div>
  <div>
    <%= f.label :rent, 'Diária' %>
    <%= f.number_field :rent %>
  </div>
  <div>
    <%= f.label :pets %>
    <%= f.check_box :pets %>
  </div>
  <div>
    <%= f.label :parking_slot, 'Tem garagem' %>
    <%= f.check_box :parking_slot %>
  </div>
  <%= f.submit 'Enviar' %>
<%end%>
