<% p = @places %>
  <%=p.title%>
  <%=p.description%>
  Quartos: <%=p.rooms%>
  Banheiros: <%=p.bathrooms%>
  Aceita pets: <%= if p.pets == true then "Sim" else "Não" end %>
  Estacionamento: <%= if p.parking_slot == true then "Sim" else "Não" end%>
  Diária: <%=number_to_currency(p.rent)%>
  Tipo: <%=p.place_type.name%>
  Região: <%=p.place_region.name%>
  Proprietário: <%= p.place_owner.email %>

  <h3>Verificar datas</h3>
  <%= form_with model: [@places, @place_reservations] do |f| %>
    <%= f.label :start_date, 'Data inicial' %>
    <%= f.date_field :start_date %>
    <%= f.label :end_date, 'Data final' %>
    <%= f.date_field :end_date %>
    <%= f.label :guests, 'Quantidade de pessoas' %>
    <%= f.number_field :guests, step: 1, min: 1 %>
    <%= f.submit 'Requisitar reserva' %>
  <% end %>

<%= link_to 'Apagar', place_path(@places), method: :delete%>
<%= link_to "Voltar", root_path %>
