<% p = @places %>
  <%=p.title%>
  <%=p.description%>
  Quartos: <%=p.rooms%>
  Banheiros: <%=p.bathrooms%>
  Aceita pets: <%= if p.pets == true then "Sim" else "Não" end %>
  Estacionamento: <%= if p.parking_slot == true then "Sim" else "Não" end%>
  Diária: <%=number_to_currency(p.rent)%>
  Tipo: <%=p.place_type.name%>
  Região: <%=p.place_region.name%>
  Proprietário: <%= p.place_owner.email %>


<% if place_owner_signed_in? && @places.place_owner == current_place_owner then %>
<%= link_to 'Apagar', place_path(@places), method: :delete%>
  <h3>Reservas</h3>
  <% @places.place_reservation.each do |pr| %>
    <h4>Reserva de <%= pr.visitor  %></h4> <!--.email should work, for some reason doesn't -->
    Data de início: <%= pr.start_date %>
    Data de final: <%= pr.end_date %>
    Status: <%= pr.status %>
    <% if pr.pending? then %>
      <%= link_to "Aceitar reserva", accept_place_place_reservation_path(pr.place_id), method: :post %>
    <%end%>
  <%end%>
<%elsif visitor_signed_in? %>
  <h3>Reserve agora:</h3>
  <%= form_with model: [@places, @place_reservations] do |f| %>
    <%= f.label :start_date, 'Data inicial' %>
    <%= f.date_field :start_date %>
    <%= f.label :end_date, 'Data final' %>
    <%= f.date_field :end_date %>
    <%= f.label :guests, 'Quantidade de pessoas' %>
    <%= f.number_field :guests, step: 1, min: 1 %>
    <%= f.submit 'Requisitar reserva' %>
  <% end %>
<%end%>

<br><%= link_to "Voltar", root_path %>
